.CheckboxGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CheckboxGroup > .CheckboxGroupLabel {
  display: block;
  font-size: 1.125em;
  margin-bottom: 0.5em;
  width: 100%;
}

.CheckboxGroup > .CheckboxGroupButton:not(:last-child) {
  margin-bottom: 0.25em;
}

.CheckboxGroup > .CheckboxGroupButton > input {
  margin-right: 1em;
}
