.CheckboxGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CheckboxGroup > .Label:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CheckboxGroup:hover > .Label > div:first-child {
  font-weight: 300;
}

.CheckboxGroup > .CheckboxGroupDescription {
  color: #757575;
  font-size: 1.125em;
  margin-bottom: 0.5em;
}

.CheckboxGroup > label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.CheckboxGroup > label:last-of-type {
  margin-bottom: 0.25em;
}

.CheckboxGroup > label > input {
  margin-right: 1em;
}

.CheckboxGroup > label > input:checked + span {
  font-weight: 300;
}

.CheckboxGroup .CheckboxGroupHelp {
  color: #757575;
  font-size: 0.875em;
  font-weight: 100;
  margin: 0.25em 0 0;
}
