.RadioGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.RadioGroup > .RadioGroupLabel {
  display: block;
  font-size: 1.125em;
  padding-bottom: 0.5em;
  width: 100%;
}

.RadioGroup > .RadioGroupButton > input {
  margin-right: 1em;
}
