.RadioGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.RadioGroup > .RadioGroupDescription {
  color: #757575;
  font-size: 1.125em;
  margin-bottom: 0.5em;
}

.RadioGroup > label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.RadioGroup > label:last-of-type {
  margin-bottom: 0.25em;
}

.RadioGroup > label > input {
  margin-right: 1em;
}

.RadioGroup > label > input:checked + span {
  font-weight: 300;
}

.RadioGroup .RadioGroupHelp {
  color: #757575;
  font-size: 0.85em;
  font-weight: 100;
  margin-top: 0.25em;
}
