.Select {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Select > label {
  order: 0;
}

.Select > .SelectDescription {
  order: 1;
  color: #757575;
  font-size: 1.125em;
  margin-bottom: 0.5em;
}

.Select > .SelectWrapper {
  order: 2;
  margin-bottom: 0.25em;
  position: relative;
}

.Select > .SelectWrapper:after {
  border-left: 0.6em solid transparent;
  border-right: 0.6em solid transparent;
  border-top: 0.75em solid #757575;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: calc(50% - 0.3em);
  right: 0.6em;
}

.Select > .SelectWrapper > select {
  background-color: #EEEEEE;
  border: 1px solid #BDBDBD;
  border-radius: 0.25em;
  font-size: 1.25em;
  font-weight: 300;
  padding: 0.25em 0.45em;
  width: 100%;
}

.Select .SelectHelp {
  order: 3;
  color: #757575;
  font-size: 0.85em;
  font-weight: 100;
  margin-top: 0.25em;
}
