.TextInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.TextInput > label {
  order: 0;
  display: block;
  font-size: 1.125em;
  margin-bottom: 0.75em;
  width: 100%;
}

.TextInput .TextInputDescription {
  order: 1;
  font-size: 1.1875em;
  margin-bottom: 0.5em;
}

.TextInput > input {
  order: 2;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 1.25em;
  padding: 0.35em 0.5em;
  width: 100%;
}

.TextInput .TextInputHelp {
  order: 3;
  font-size: 0.875em;
  margin-top: 0.5em;
}

.TextInput > input:focus + label {
  font-weight: 300;
}
