.FormList {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 2em)
}

.FormList > .FormListItem {
  box-shadow: 0 0 5px 0 #BDBDBD;
  margin: 0 2em 2em 0;
  width: 100%;
}

.FormList > .FormListItem > .FormListItemHeader {
  background-color: #C2185B;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5em;
  height: 150px;
}

.FormList > .FormListItem > .FormListItemContent {
  padding: 0.5em;
  height: 75px;
}

@media (min-width: 667px) {
  .FormList > .FormListItem {
    width: calc(50% - 2em);
  }
}

@media (min-width: 1024px) {
  .FormList > .FormListItem {
    width: calc(33.33% - 2em);
  }
}

@media (min-width: 1440px) {
  .FormList > .FormListItem {
    width: calc(25% - 2em);
  }
}
