.FormList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}

.FormList > .FormListItem {
  box-shadow: 0 0 7.5px 0 #BDBDBD;
  margin-bottom: 2em;
  width: 100%;
}

.FormList > .FormListItem > .FormListItemHeader {
  background-color: #C2185B;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5em;
  height: 150px;
}

.FormList > .FormListItem > .FormListItemContent {
  padding: 0.5em;
  height: 75px;
}

@media (min-width: 667px) {
  .FormList > .FormListItem {
    width: calc(50% - 1em);
  }
}

@media (min-width: 1024px) {
  .FormList > .FormListItem {
    width: calc(33.33% - 1em);
  }
}

@media (min-width: 1440px) {
  .FormList > .FormListItem {
    width: calc(25% - 1em);
  }
}
