.Header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1em;
}

.HeaderLogo {
  margin-right: 1em;
  height: 50px;
}

.HeaderTitle {
  margin: 0;
  text-align: left;
}

.HeaderMenu {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.HeaderMenuItem {
  margin-left: 1em;
}

.HeaderMenuItem a {
  color: #444;
  font-size: 1.5em;
  text-decoration: none;
}
