.Header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid #BDBDBD;
  padding: 1em;
}

.Header > a {
  font-size: 0;
}

.Header > a > .HeaderLogo {
  margin-right: 1em;
  height: 50px;
}

.Header > .Title {
  margin: 0 0 0 0.25em;
}

.Header > .HeaderMenu {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Header > .HeaderMenu > .HeaderMenuItem {
  margin-left: 1em;
}

.Header > .HeaderMenu > .HeaderMenuItem a {
  color: #212121;
  font-size: 1.5em;
  text-decoration: none;
}
