.Dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Dialog.DialogVisible {
  visibility: visible;
}

.Dialog.DialogHidden {
  visibility: hidden;
}

.Dialog > .DialogOverlay {
  background-color: #fefefe;
  opacity: 0.75;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Dialog.DialogVisible > .DialogOverlay {
  animation: dialogFadeIn 0.25s ease;
  opacity: 0.75;
  visibility: visible;
}

.Dialog.DialogHidden > .DialogOverlay {
  animation: dialogFadeOut 0.25s ease;
  opacity: 0;
  visibility: hidden;
}

.Dialog > .DialogWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  box-shadow: 0 0 30px 0 rgba(33, 33, 33, 0.15);
  padding: 1em;
  max-width: 75%;
  max-height: 75%;
  width: 320px;
  height: 160px;
  z-index: 0;
}

.Dialog.DialogVisible > .DialogWindow {
  animation: dialogZoomIn 0.25s ease;
  opacity: 1;
  visibility: visible;
}

.Dialog.DialogHidden > .DialogWindow {
  animation: dialogZoomOut 0.25s ease;
  opacity: 0;
  visibility: hidden;
}

.Dialog > .DialogWindow > .DialogWindowContent {
  margin-bottom: 1em;
}

.Dialog > .DialogWindow > .DialogWindowContent > .Text {
  text-align: center;
}

.Dialog > .DialogWindow > .DialogWindowButtons {
  font-size: 1em;
}

@keyframes dialogZoomIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes dialogZoomOut {
  from {
    opacity: 1;
    transform: scale(100%);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
}

@keyframes dialogFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}

@keyframes dialogFadeOut {
  from {
    opacity: 0.75;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
