.HeaderLink {
  color: #212121;
  font-size: 1.5em;
  text-decoration: none;
}

.HeaderLink > .ProfileImage {
  background-color: #C2185B;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.HeaderLinkActive {
  font-weight: 300;
}
