.CreateForm {
  height: 100%;
}

.CreateForm > .CreateFormInputList {
  list-style-type: none;
}

.CreateForm > .CreateFormInputList > .CreateFormInputListItem {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
