.Uploader {
  display: flex;
  align-items: center;
  height: 100%;
}

.Uploader > .UploaderLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px dashed #607D8B;
  padding: 1em;
  width: 100%;
  height: 100%;
}

.Uploader > .UploaderLabel > * {
  text-align: center;
}

.Uploader > .UploaderLabel > *:last-child {
  margin-bottom: 0;
}

.Uploader > .UploaderLabel > input {
  display: none;
}

.Uploader > .UploaderImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
