.Menu {
  background-color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 1.5em;
}

.MenuItem {
  border: 1px solid #aaa;
  padding: 0.5em;
}

.MenuItem a {
  color: #fefefe;
  text-decoration: none;
  text-transform: uppercase;
}
