.Form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Form > .FormHeader {
  background-color: #C2185B;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 1em -1em;
  padding: 0.5em;
  width: calc(100% + 1em);
  height: 200px;
}

.Form > .FormContent {
  margin: 0 auto;
  max-width: 667px;
  width: 100%;
}

.Form > .FormContent > .FormForm {
  box-shadow: 0 0 2.5px 0 #BDBDBD;
  padding: 1em;
}
