.Form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Form > .FormHeader {
  background-color: #C2185B;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -2em 0 2em -2em;
  padding: 0.5em;
  width: calc(100% + 4em);
  height: 200px;
}

.Form > .FormContent {
  margin: 0 auto;
  max-width: 667px;
  width: 100%;
}

.Form > .FormContent > form {
  box-shadow: 0 0 5px 0 #BDBDBD;
  padding: 2em;
}

.Form > .FormContent > form > *:not(:last-child) {
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}

.Form > .FormContent > form > .ButtonGroup {
  display: flex;
  justify-content: space-between;
}
