.ButtonGroup {
  display: flex;
}

.ButtonGroup.vertical {
  flex-direction: column;
}

.ButtonGroup:not(.vertical) > .Button:not(:last-child) {
  margin-right: 1em
}

.ButtonGroup.vertical > .Button:not(:last-child) {
  margin-bottom: 1em
}
