.Button {
  background-color: #E91E63;
  border: none;
  border-radius: 0.125em;
  box-shadow: 0 2px 4px 0 rgba(33, 33, 33, 0.125);
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 1.5px;
  line-height: 1.125em;
  padding: 0.5em 0.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.Button:hover {
  background-color: #C2185B;
  box-shadow: 0 2.5px 5px 0 rgba(33, 33, 33, 0.25);
}

.Button.small {
  font-size: 0.75em;
  padding: 0.35em 0.5em;
}

.Button.cancel {
  background-color: #607D8B;
}

.Button.cancel:hover {
  background-color: #878393;
}
