.FieldEditor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.FieldEditor > .FieldEditorForm {
  flex-basis: 100%;
}

.FieldEditor > .FieldEditorForm > *:not(:last-child) {
  margin-bottom: 1.5em;
}

.FieldEditor > .FieldEditorChoices > .FieldEditorChoicesList {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.FieldEditor > .FieldEditorChoices > .FieldEditorChoicesList > .FieldEditorChoicesListItem {
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}

.FieldEditor > .FieldEditorPreview {
  flex-shrink: 0;
  border: 1px solid #eee;
  margin-bottom: 1px;
  padding: 1em;
}
